<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [58]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [32]:
df.groupby('gender')['height'].mean()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [11]:
df.groupby('gender')['smoke'].mean()

gender
1    0.017856
2    0.218880
Name: smoke, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [21]:
# Ваш код здесь
df.groupby('gender')['smoke'].mean()[2] / df.groupby('gender')['smoke'].mean()[1]

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [24]:
# Ваш код здесь
(df.groupby('smoke')['age'].median()[1] - df.groupby('smoke')['age'].median()[0])/30

-19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [77]:
# Ваш код здесь
df['age_years'] = np.round(df['age']/365.25)
ndf = df[(df['age_years']>=60) & (df['age_years']<=64) & (df['gender']==2)]
map_d = {1:'4', 2:'5-7', 3:'8'}
ndf['cholesterol'] = ndf['cholesterol'].map(map_d)
len(ndf[(ndf['ap_hi']<120) & (ndf['cholesterol']=='4')]) / \
len(ndf[(ndf['ap_hi']>=160) & (ndf['ap_hi']<180) & (ndf['cholesterol']=='8')])

/Users/ilyas/anaconda/envs/general/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

4.242424242424242

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [48]:
# Ваш код здесь
df['BMI'] = df['weight'] / (df['height']/100)**2
df.groupby(['cardio', 'alco', 'gender'])['BMI'].mean()

cardio  alco  gender
0       0     1         26.845407
              2         25.872638
        1     1         28.671457
              2         26.097220
1       0     1         29.052771
              2         27.522450
        1     1         30.812347
              2         28.226569
Name: BMI, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [76]:
# Ваш код здесь
len(df[(df['ap_lo']>df['ap_hi']) | ((df['weight']<df['weight'].quantile(0.025)) | (df['weight']>df['weight'].quantile(0.975)))\
    | ((df['height']<df['height'].quantile(0.025)) | (df['height']>df['height'].quantile(0.975)))  ]) \
/len(df)

0.0963

In [69]:
df[(df['weight']<df['weight'].quantile(0.025)) | (df['weight']>df['weight'].quantile(0.975))]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
24,16782,2,172,112.0,120,80,1,1,0,0,0,1
33,23376,2,156,45.0,110,60,1,1,0,0,1,0
59,19764,1,154,50.0,170,80,3,1,0,0,1,1
81,20330,2,187,115.0,130,90,1,1,0,1,1,0
109,16591,1,159,49.0,120,70,1,1,0,0,1,0
114,19570,1,152,110.0,160,90,1,1,0,0,1,1
142,14499,2,164,48.0,110,70,1,2,1,1,1,1
170,19656,2,153,47.0,130,80,3,1,1,0,1,0
183,17213,1,153,50.0,120,80,1,1,0,0,1,0
250,23312,1,148,50.0,120,80,2,1,0,0,1,0
363,20285,1,153,49.0,110,60,1,1,0,0,1,0
366,17460,1,165,115.0,150,100,1,1,0,0,1,1
373,16468,1,149,50.0,120,80,2,2,0,0,0,0
390,22510,2,170,115.0,120,80,2,2,0,0,1,0
441,20593,1,156,50.0,120,70,1,3,0,0,1,1
474,21078,1,157,142.0,120,80,1,1,0,0,1,1
506,19803,1,144,44.0,130,80,1,1,0,0,1,0
543,19517,1,147,41.0,80,50,1,1,0,0,1,0
552,16718,2,165,169.0,120,80,1,1,0,0,1,0
553,16772,1,170,116.0,130,70,1,1,0,0,1,0
585,20295,1,164,50.0,100,60,1,1,1,0,1,0
614,17425,1,165,47.0,110,80,1,2,0,0,1,0
618,16765,1,186,200.0,130,70,1,1,0,0,0,0
634,21237,2,178,120.0,160,90,1,3,0,0,1,1
655,19863,1,152,50.0,130,80,1,1,0,0,1,1
712,17381,1,151,117.0,160,90,2,1,0,0,0,1
754,22023,1,148,50.0,120,80,1,2,0,0,1,1
777,23334,1,147,110.0,140,90,3,1,0,0,0,1
846,14705,1,164,125.0,130,90,1,1,0,0,0,0
879,23424,2,161,50.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99104,17351,2,182,112.0,160,80,1,1,0,0,1,1
99133,15335,1,154,46.0,110,70,2,2,0,0,1,0
99182,23141,2,180,123.0,190,99,2,1,0,0,0,1
99286,16732,1,163,42.0,110,70,1,1,0,0,1,0
99290,18195,1,151,43.0,100,70,1,3,0,0,1,0
99292,19770,1,155,43.0,120,80,1,1,0,0,1,0
99481,18778,1,160,47.0,110,70,1,1,0,0,1,0
99503,22322,1,152,48.0,160,90,1,1,0,0,0,1
99507,14925,1,170,111.0,160,90,2,1,0,1,0,1
99551,23224,2,151,45.0,120,70,3,1,1,1,0,1
99553,23183,2,178,113.0,130,90,2,2,1,0,1,1
99562,21357,1,144,115.0,140,90,1,1,0,1,0,1
99597,23305,1,148,49.0,120,80,3,2,0,0,0,1
99599,17541,1,162,48.0,120,80,1,1,0,0,1,0
99600,22505,1,156,43.0,150,100,1,1,0,0,1,1
99673,17541,1,141,44.0,100,70,1,1,0,0,1,0
99689,17575,1,164,45.0,115,70,1,1,0,0,1,0
99765,14683,1,150,42.0,90,60,1,1,0,0,1,0
99785,23646,1,149,49.0,115,75,1,1,0,0,1,0
99806,20052,1,155,50.0,90,60,2,1,0,0,1,0
99808,21906,1,156,48.0,120,80,1,1,0,0,1,0
99856,14823,1,152,42.0,120,80,1,1,0,0,1,0
99861,16002,1,155,48.0,90,70,1,1,0,0,1,0
99871,17312,1,159,45.0,110,70,2,2,0,0,1,0
99925,21333,1,164,115.0,130,80,1,1,0,0,1,1
99930,23305,2,172,113.0,110,80,1,1,0,0,0,1
99948,16598,1,161,50.0,110,75,1,1,0,0,1,0
99972,17500,2,182,110.0,130,90,2,2,0,0,1,1
99979,18852,1,151,49.0,120,80,1,1,0,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1